
.lo{
background:#87e0ca;
}
.myp{
width:150px;
height:150px;
background-image:url('/static/img/2.png');
display:inline-block;
position:absolute;
border-radius:10px;
margin-left:50px;


}
.kort{
width:700px;
height:550px;
border:solid;
display:inline-block;
position:relative;
left:350px;
border-radius:15px;
}
.p{
position:relative;
top:180px;
left:55px;
border:solid;
width:140px;

}